body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 40px;

    background-color:#3857ab;

}
.logo{

    color:white;

}
.search-box input{

    width:450px;

    padding:10px;

    border-radius:5px;

    border:none;

}
.nav-icons button{

    font-size:22px;

    margin-left:10px;

    background:none;

    border:none;

    cursor:pointer;

}