<nav class="navbar">
            <div class="logo">
                <h2>
                    <span class="shop">Shop</span><span class="buddy">Buddy</span>
                </h2>
                <p>By Marwah Communications</p>
            </div>
            <div class="search-box">
                <input type="text" id="search-input" placeholder="Search for products...">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="nav-icons">
                <div class="icon-item" id="wishlist-nav">
                    <i class="fa-regular fa-heart"></i>
                    <span>Wishlist</span>
                </div>

                <div class="icon-item" id="compare-nav">
                    <i class="fa-solid fa-code-compare"></i>
                    <span>Compare</span>
                </div>
                <div class="icon-item" id="cart-nav">
    <i class="fa-solid fa-cart-shopping"></i>
    <span id="cart-count">Cart (0)</span>
</div>
                <div class="icon-item" id="account-nav">
    <i class="fa-regular fa-user"></i>
    <span>Account</span>
</div>
            </div>
        </nav>